@model Hospital.UI.Areas.Admin.Models.CreateDoctorViewModel

<div class="col-12 col-lg-9 order-lg-0 mt-1 bg-light rounded">
    @using (Html.BeginForm())
    {
        <div class=" form-group col-md-10 ">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.LabelFor(m => m.UserName)
            @Html.EditorFor(m => m.UserName, new {htmlAttributes = new { placeholder = @Html.DisplayNameFor(m => m.UserName), @class = "form-control text-center" }})
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
        <div class=" form-group col-md-10 ">
            @Html.LabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email, new {htmlAttributes = new { placeholder = @Html.DisplayNameFor(m => m.Email), @class = "form-control text-center" }})
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class=" form-group col-md-10 ">
            @Html.LabelFor(m => m.FirstName)
            @Html.EditorFor(m => m.FirstName, new {htmlAttributes = new { placeholder = @Html.DisplayNameFor(m => m.FirstName), @class = "form-control text-center" }})
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class=" form-group col-md-10 ">
            @Html.LabelFor(m => m.LastName)
            @Html.EditorFor(m => m.LastName, new {htmlAttributes = new { placeholder = @Html.DisplayNameFor(m => m.LastName), @class = "form-control text-center" }})
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
        <div class=" form-group col-md-10 ">
            @Html.LabelFor(m => m.Birthday)
            @Html.EditorFor(m => m.Birthday, "{0:dd/MM/yy}", new {htmlAttributes = new { placeholder = @Html.DisplayNameFor(m => m.Birthday), @class = "form-control text-center" }})
        </div>

        <div class=" form-group col-md-10 ">
            @Html.LabelFor(m => m.PasswordHash)
            @Html.EditorFor(m => m.PasswordHash, new {htmlAttributes = new { placeholder = @Html.DisplayNameFor(m => m.PasswordHash), @class = "form-control text-center" }})
            @Html.ValidationMessageFor(m => m.PasswordHash, "", new { @class = "text-danger" })
        </div>
        <div class=" form-group col-md-10 ">
            @Html.LabelFor(m => m.SpecialityId)
            @Html.DropDownListFor(m => m.SpecialityId, Model.Specialities, new { @class = "form-control text-center" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Submit" class="btn btn-secondary" />
            </div>
        </div>
    }
    @Html.ActionLink("Back", "Index", "Patient", null, new { @class = "btn btn-secondary mb-1" })
</div>