@model PagedList.IPagedList<Hospital.UI.Models.DoctorViewModel>
@using PagedList.Mvc;


<div class="col-12 col-lg-9 order-lg-0 mt-1 bg-light rounded">
    <h2 class="text-center">Doctors:</h2>
    @Html.ActionLink("Create new doctor", "Create", "Doctor", null, new { @class = "btn btn-secondary mb-1" })
    <table class="table">
        <tr>
            <th scope="col">@Html.ActionLink("Last name", "Index", new {sortOrder = ViewBag.NameSortParm, page = ViewBag.CurrentPage})</th>
            <th scope="col">First name</th>
            <th scope="col">@Html.ActionLink("Patients", "Index", new {sortOrder = ViewBag.PatientsSortParm, page = ViewBag.CurrentPage})</th>
            <th></th>
        </tr>
        @foreach (var doctor in Model)
        {
    <tr>
        <td>@doctor.LastName</td>
        <td>@doctor.FirstName</td>
        <td>@doctor.NumberOfPatients</td>
        <td>@Html.ActionLink("Details", "Details", "Doctor", new { Id = doctor.Id }, new { @class = "btn btn-secondary" })</td>
    </tr>
        }
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount 
    @Html.PagedListPager(Model, page => Url.Action("Index", new {page, sortOrder = ViewBag.CurrentSort}))

    @Html.ActionLink("Back to menu", "Index", "Home", null, new { @class = "btn btn-secondary  mb-1" })
</div>